<appSettings>
  <add key="endpoint.name" value=""/>
  <add key="receiver.name" value=""/>
  <add key="mail.host" value=""/>
  <add key="mail.host.port" value=""/>
  <add key="smtp.host" value=""/>
  <add key="smtp.host.port" value="587"/>
  <add key="smtp.user" value=""/>
  <add key="smtp.password" value=""/>
</appSettings>